html {
  font-size: 14px;
  font-family: 'Sora', sans-serif;
}

body {
  margin: 0;
}

header {
  background: linear-gradient(25deg, #1e1842, #62134e);
}

header > h1 {
  margin: 0;
  padding: 0.5rem 0.8rem;
  font-size: 2rem;
  color: transparent;
  background: text linear-gradient(#9984fb, #ff51e5);
}

ul.article-list {
  list-style-type: none;
  padding: 0;
  margin-block: 0;
}

ul.article-list > li {
  border-block-end: 1px solid silver;
}

ul.article-list > li:last-child {
  border-block-end: none;
}

.article-item {
  padding-block: 1.5rem;
  padding-inline: 0.8rem;
}

.article-item > a {
  display: block;
  font-size: large;
  padding-block: 0.35rem;
}

.article-item > time {
  display: block;
  font-size: small;
  color: gray;
}
