doctype html

html
  head
    title #{title} | Bloog
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')

    include google-fonts.html

    link(href='/static/main.css' rel='stylesheet')
  body
    header
      h1 Bloog

    block content
